In [81]:
import pandas as pd
import numpy as np

In [82]:
n = int(input())
s = input().split()
scores = [float(s[i]) for i in range(n)]
scores_sum = sum(scores)
weights = [round(score / scores_sum, 7) for score in scores]

KeyboardInterrupt: Interrupted by user

In [ ]:
weights

In [ ]:
ensemble_predicts = pd.read_csv('https://stepik.org/media/attachments/lesson/825510/make_hard_blend.csv')

In [ ]:
ensemble_predicts['target_class'] = ensemble_predicts.apply(lambda x: max(set([x[f'model_{i}'] for i in range(1, 6)]), key=[x[f'model_{i}'] for i in range(1, 6)].count), axis=1)

In [ ]:
ensemble_predicts[['car_id', 'target_class']].to_csv('../data/blending_hard_voting.csv', index=False)

In [ ]:
ensemble_predicts

In [84]:
catboost_preds = pd.read_csv('https://stepik.org/media/attachments/lesson/825510/catboost_preds.csv')
lgb_preds = pd.read_csv('https://stepik.org/media/attachments/lesson/825510/lgbm_preds.csv')
xgb_preds = pd.read_csv('https://stepik.org/media/attachments/lesson/825510/xgb_preds.csv')

In [85]:
preds = catboost_preds + lgb_preds + xgb_preds

In [86]:
preds['soft_preds'] = preds.idxmax(axis=1).apply(lambda x: x.rsplit('_proba')[0])

In [87]:
preds.to_csv('../data/soft_preds_data')

In [88]:
preds

,another_bug_proba,break_bug_proba,electro_bug_proba,engine_check_proba,engine_fuel_proba,engine_ignition_proba,engine_overheat_proba,gear_stick_proba,wheel_shake_proba,soft_preds
0,0.337219,0.344227,0.353973,0.314100,0.346557,0.322595,0.336272,0.352935,0.292123,electro_bug
1,0.479751,0.442886,0.292707,0.333411,0.280346,0.284728,0.328361,0.325581,0.232230,another_bug
2,0.348240,0.342305,0.317633,0.329424,0.307271,0.362316,0.348468,0.359000,0.285343,engine_ignition
3,0.339210,0.347235,0.317740,0.374427,0.301501,0.341304,0.311298,0.377495,0.289790,gear_stick
4,0.359307,0.372359,0.335765,0.314143,0.331229,0.346983,0.335586,0.364043,0.240584,break_bug
...,...,...,...,...,...,...,...,...,...,...
580,0.369099,0.341373,0.305871,0.342375,0.330898,0.326672,0.325671,0.366269,0.291773,another_bug
581,0.339598,0.333036,0.288180,0.336054,0.308584,0.371604,0.303122,0.416257,0.303565,gear_stick
582,0.331052,0.395528,0.270822,0.383494,0.339379,0.317954,0.315611,0.353631,0.292527,break_bug
583,0.324123,0.358697,0.324760,0.341667,0.334138,0.321043,0.351365,0.364555,0.279653,gear_stick
584,0.349315,0.322591,0.336956,0.310356,0.332320,0.335514,0.325266,0.367140,0.320544,gear_stick

In [93]:
len(preds)

585

In [ ]:
df = pd.DataFrame

In [ ]:
df['rank'] = df.apply(lambda x: df['proba'].value_counts().get(x['proba']), axis=1)
df['normalized_proba'] = df['rank'] / 5

In [282]:
d = {'id': [0, 1, 2, 3, 4], 'proba1': [0.148207, 0.821720, 0.123371, 0.977640, 0.267806], 'proba2': [0.768743, 0.095749, 0.268414, 0.538099, 0.671564], 'proba3': [0.324550, 0.271743, 0.183569, 0.560661, 0.818800]}
df = pd.DataFrame(data=d)

In [283]:
normalized_prob = df.drop(['id'], axis=1).rank(ascending=True, pct=True)
df['mean_rank'] = normalized_prob.mean(axis=1)

In [284]:
df

   id    proba1    proba2    proba3  mean_rank
0   0  0.148207  0.768743  0.324550   0.666667
1   1  0.821720  0.095749  0.271743   0.466667
2   2  0.123371  0.268414  0.183569   0.266667
3   3  0.977640  0.538099  0.560661   0.800000
4   4  0.267806  0.671564  0.818800   0.800000

In [277]:
normalized_prob

   proba1  proba2  proba3  mean_rank
0     0.4     1.0     0.6        NaN
1     0.8     0.2     0.4        NaN
2     0.2     0.4     0.2        NaN
3     1.0     0.6     0.8        NaN
4     0.6     0.8     1.0        NaN

In [251]:
df['mean_rank'] = np.mean(df.drop(['id'], axis=1).rank(pct=True)

In [246]:
df

   id    proba1    proba2    proba3
0   0  0.148207  0.768743  0.324550
1   1  0.821720  0.095749  0.271743
2   2  0.123371  0.268414  0.183569
3   3  0.977640  0.538099  0.560661
4   4  0.267806  0.671564  0.818800

In [252]:
df

   id    proba1    proba2    proba3  mean_rank
0   0  0.148207  0.768743  0.324550        NaN
1   1  0.821720  0.095749  0.271743        NaN
2   2  0.123371  0.268414  0.183569        NaN
3   3  0.977640  0.538099  0.560661        NaN
4   4  0.267806  0.671564  0.818800        NaN

In [145]:
for i in range(1, 3):
    df[f'rank{i}'] = df[f'proba{i}'].rank(ascending=True)

In [146]:
df['mean_rank'] = np.mean([df[f'rank{i}'] for i in range(1, 3)])

In [147]:
df

   id    proba1    proba2   proba3  mean_rank  rank1  rank2
0   1  0.148207  0.768743  0.32455        1.5    2.0    2.0
1   2  0.118323  0.452743  0.42155        1.5    1.0    1.0

In [141]:
ranks = df.drop(['id'], axis=1).rank(ascending=True)
df['mean_rank'] = ranks.apply(lambda x: np.mean([x['proba1'], x['proba2'], x['proba3']]), axis=1)

In [142]:
ranks

   proba1  proba2  proba3
0     2.0     2.0     1.0
1     1.0     1.0     2.0

In [143]:
df

   id    proba1    proba2   proba3  mean_rank
0   1  0.148207  0.768743  0.32455   1.666667
1   2  0.118323  0.452743  0.42155   1.333333