In [11]:
from tsfresh.feature_extraction import MinimalFCParameters
from pprint import pprint
from tsfresh import extract_features
from tsfresh.examples.robot_execution_failures import download_robot_execution_failures, load_robot_execution_failures

In [5]:
download_robot_execution_failures()
timeseries, y = load_robot_execution_failures()

In [10]:
extracted_features = extract_features(timeseries, column_id="id", column_sort="time", n_jobs=2, default_fc_parameters=MinimalFCParameters())
extracted_features.head()

Feature Extraction: 100%|██████████████████████| 10/10 [00:00<00:00, 193.36it/s]

,F_x__sum_values,F_x__median,F_x__mean,F_x__length,F_x__standard_deviation,F_x__variance,F_x__root_mean_square,F_x__maximum,F_x__absolute_maximum,F_x__minimum,...,T_z__sum_values,T_z__median,T_z__mean,T_z__length,T_z__standard_deviation,T_z__variance,T_z__root_mean_square,T_z__maximum,T_z__absolute_maximum,T_z__minimum
1,-14.0,-1.0,-0.933333,15.0,0.249444,0.062222,0.966092,0.0,1.0,-1.0,...,0.0,0.0,0.000000,15.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,-13.0,-1.0,-0.866667,15.0,0.956847,0.915556,1.290994,0.0,3.0,-3.0,...,-4.0,0.0,-0.266667,15.0,0.442217,0.195556,0.516398,0.0,1.0,-1.0
3,-10.0,-1.0,-0.666667,15.0,0.596285,0.355556,0.894427,1.0,1.0,-1.0,...,-4.0,0.0,-0.266667,15.0,0.442217,0.195556,0.516398,0.0,1.0,-1.0
4,-6.0,0.0,-0.400000,15.0,0.952190,0.906667,1.032796,1.0,2.0,-2.0,...,-5.0,0.0,-0.333333,15.0,0.596285,0.355556,0.683130,1.0,1.0,-1.0
5,-9.0,-1.0,-0.600000,15.0,0.879394,0.773333,1.064581,2.0,2.0,-2.0,...,-2.0,0.0,-0.133333,15.0,0.618241,0.382222,0.632456,1.0,1.0,-1.0

In [29]:
fc_parameters = MinimalFCParameters()

for x in ['standard_deviation', 'variance', 'maximum', 'minimum']:
    del fc_parameters[x] 
    
fc_parameters.update({
    'linear_trend': [{'attr': 'rvalue'}, {'attr': 'slope'}, {'attr': 'intercept'}],
    'quantile': [{'q': 0.25}, {'q': 0.75}],
    'number_peaks': [{'n': 2}],
})

pprint(fc_parameters)

{'absolute_maximum': None,
 'length': None,
 'linear_trend': [{'attr': 'rvalue'}, {'attr': 'slope'}, {'attr': 'intercept'}],
 'mean': None,
 'median': None,
 'number_peaks': [{'n': 2}],
 'quantile': [{'q': 0.25}, {'q': 0.75}],
 'root_mean_square': None,
 'sum_values': None}

In [30]:
extracted_features = extract_features(timeseries, column_id="id", column_sort="time", n_jobs=2, default_fc_parameters=fc_parameters)
extracted_features.head()

Feature Extraction: 100%|███████████████████████| 10/10 [00:00<00:00, 92.26it/s]

,T_z__sum_values,T_z__median,T_z__mean,T_z__length,T_z__root_mean_square,T_z__absolute_maximum,"T_z__linear_trend__attr_""rvalue""","T_z__linear_trend__attr_""slope""","T_z__linear_trend__attr_""intercept""",T_z__quantile__q_0.25,...,T_y__mean,T_y__length,T_y__root_mean_square,T_y__absolute_maximum,"T_y__linear_trend__attr_""rvalue""","T_y__linear_trend__attr_""slope""","T_y__linear_trend__attr_""intercept""",T_y__quantile__q_0.25,T_y__quantile__q_0.75,T_y__number_peaks__n_2
1,0.0,0.0,0.000000,15.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,...,-0.666667,15.0,0.816497,1.0,0.163663,0.017857,-0.791667,-1.0,0.0,2.0
2,-4.0,0.0,-0.266667,15.0,0.516398,1.0,1.355872e-17,1.387779e-18,-0.266667,-0.5,...,-1.333333,15.0,2.449490,5.0,-0.352941,-0.167857,-0.158333,-2.5,0.0,2.0
3,-4.0,0.0,-0.266667,15.0,0.516398,1.0,-1.395726e-01,-1.428571e-02,-0.166667,-0.5,...,-1.933333,15.0,2.620433,5.0,-0.375101,-0.153571,-0.858333,-3.0,-0.5,2.0
4,-5.0,0.0,-0.333333,15.0,0.683130,1.0,-1.867434e-17,-2.577303e-18,-0.333333,-1.0,...,-1.066667,15.0,2.875181,6.0,-0.306295,-0.189286,0.258333,-2.5,0.5,2.0
5,-2.0,0.0,-0.133333,15.0,0.632456,1.0,-3.494181e-01,-5.000000e-02,0.216667,-0.5,...,-2.800000,15.0,3.464102,5.0,-0.279918,-0.132143,-1.875000,-4.0,-2.0,3.0

In [8]:
pprint(MinimalFCParameters())

{'absolute_maximum': None,
 'length': None,
 'maximum': None,
 'mean': None,
 'median': None,
 'minimum': None,
 'root_mean_square': None,
 'standard_deviation': None,
 'sum_values': None,
 'variance': None}

In [6]:
timeseries

      id  time  F_x  F_y  F_z  T_x  T_y  T_z
0      1     0   -1   -1   63   -3   -1    0
1      1     1    0    0   62   -3   -1    0
2      1     2   -1   -1   61   -3    0    0
3      1     3   -1   -1   63   -2   -1    0
4      1     4   -1   -1   63   -3   -1    0
...   ..   ...  ...  ...  ...  ...  ...  ...
1315  88    10  -10    2   39  -21  -24    5
1316  88    11  -11    2   38  -24  -22    6
1317  88    12  -12    3   23  -24  -24    5
1318  88    13  -13    4   26  -29  -27    5
1319  88    14  -13    2   15  -25  -25    6

[1320 rows x 8 columns]

In [1]:
!pip install tsfresh -q

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python3 -m pip install --upgrade pip