In [36]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [70]:
response = requests.get("https://bdex.ru/ratings/cities-salary/")
soup = BeautifulSoup(response.content)

data = []

for div in soup.find_all('div', class_='reg_name'):
    print(div)
    data.append((div.find('div', class_='reg_name').text, np.nan, int(div.find('span', class_='reg_salary').text.rstrip('₽').replace(u'\xa0', u''))))

data    
    
res = pd.DataFrame(data, columns=['city', 'district', 'mean_salary']).sort_values(by=['city']).reset_index(drop=True)
res.loc[res['district'] == '', 'district'] = np.nan
res.to_csv('salary_solution.csv', index=False)
res.head()

Empty DataFrame
Columns: [city, district, mean_salary]
Index: []

In [65]:
res

Empty DataFrame
Columns: [city, district, mean_salary]
Index: []

In [29]:
soup = BeautifulSoup(open('../data/salaries.html', 'rb').read(), 'lxml')

In [35]:
rates = soup.find_all('div', class_='block_rating')

In [49]:
def get_ratings(ratings):
    rating = {
        'city': [],
        'district': [],
        'mean_salary': []
    }
    
    for rate in ratings:
        rating['city'].append(rate.find('div', class_='reg_name').text)
        rating['mean_salary'].append(int(rate.find('span', class_='reg_salary').text.rstrip('₽').replace(u'\xa0', u'')))
        rating['district'].append(np.nan)
    
    return rating

In [50]:
ratings = get_ratings(rates)

In [71]:
ratings_df = pd.DataFrame(ratings).sort_values(by=['city']).reset_index(drop=True)

In [73]:
ratings_df

              city  district  mean_salary
0           Абакан       NaN        45300
1          Анадырь       NaN       129200
2          Ангарск       NaN        45600
3      Архангельск       NaN        53100
4        Астрахань       NaN        38000
..             ...       ...          ...
95            Чита       NaN        47500
96          Элиста       NaN        31700
97  Южно-Сахалинск       NaN        99000
98          Якутск       NaN        74400
99       Ярославль       NaN        42000

[100 rows x 3 columns]

In [74]:
ratings_df.to_csv('../data/mean_salaries.csv', index=False)